body {
	padding-top: 70px;
}

.loading-circle {
	position: fixed;
	top: 50%;
	left: 50%;
}

/* Views */

.view-timetable-list input[type=search] {
	margin: 10px 0;
}

.errorvid {
	max-width: 535px;
	border: 12px solid #1B1B1B;
	-webkit-border-radius: 8px !important;
	-moz-border-radius: 8px !important;
	border-radius: 8px !important;
}

.stundenplan, .stundenplan tr, .stundenplan td, .stundenplan th {
	border: 1px solid #666 !important;
}

.stundenplan th:nth-child(n+2), .stundenplan td:first-child {
	background-color: #BBD !important;
}

.stundenplan .vertretung {
	background-color: #7295CC;
}

.stundenplan .ausfall {
	background-color: #FF8170;
}
