/*!
 * NSA-Stundenplan CSS
 */

body {
	padding-top: 70px;
}

.loading-circle {
	position: fixed;
	top: 50%;
	left: 50%;
}

/* Views */

.view-timetable-list input[type=search] {
	margin: 10px 0;
}

/* Fehlerseite */

.errorvid {
	max-width: 535px;
	border: 12px solid #1B1B1B;
	border-radius: 8px;
}

/* Main Page */

.home-logo {
	margin: 15px 0;
	border: 1px solid #000;
}

/* Stundenplan */

.stundenplan {
	border-top: none;
}

.stundenplan th:nth-child(n+2), .stundenplan td:first-child {
	background-color: rgb(235, 235, 235);
}

.stundenplan th:first-child {
	border-top: 1px solid #FFF !important;
	border-right: 1px solid #FFF !important;
	border-left: 1px solid #FFF !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
}

.stundenplan th:nth-child(2) {
	border-left: 1px solid #FFF !important;
	border-top-left-radius: 4px;
}

.stundenplan th:nth-child(6) {
	border-right: 1px solid #FFF !important;
	border-top-right-radius: 4px;
}

.stundenplan .warning {
	/* background-color: #D9534F; */
}

.stundenplan .danger {
	/* color: #FFF;
	background-color: #FFA190; */
}

.stundenplan-title {
	margin-top: 8px;
}