/*!
 * NSA-Stundenplan CSS
 */

body {
	padding-top: 70px;
}

.loading-circle {
	position: fixed;
	top: 50%;
	left: 50%;
}

/* Views */

.view-timetable-list input[type=search] {
	margin: 10px 0;
}

/* Fehlerseite */

.view-error .errorvid {
	max-width: 535px;
	border: 12px solid #1B1B1B;
	border-radius: 8px;
}

/* Main Page */

.view-home .logo {
	margin: 15px 0;
	border: 1px solid #000;
}

/* Stundenplan */

.view-timetable-detail {
	border-top: none;
}

.view-timetable-detail table th:nth-child(n+2), .view-timetable-detail td:first-child {
	background-color: #ebebeb;
}

.view-timetable-detail table th:first-child {
	border-top: 1px solid #ffffff !important;
	border-right: 1px solid #ffffff !important;
	border-left: 1px solid #ffffff !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
}

.view-timetable-detail table th:nth-child(2) {
	border-left: 1px solid #ffffff !important;
	border-top-left-radius: 4px;
}

.view-timetable-detail table th:nth-child(6) {
	border-right: 1px solid #ffffff !important;
	border-top-right-radius: 4px;
}

.view-timetable-detail input[type=checkbox] {
	margin: 0;
}

.view-timetable-detail h3 {
	margin-top: 8px;
}