/*!
 * NSA-Stundenplan CSS
 */

body {
	padding-top: 70px;
}

.loading-circle {
	position: fixed;
	top: 50%;
	left: 50%;
}

/* Views */

.view-timetable-list input[type=search] {
	margin: 10px 0;
}

/* Fehlerseite */

.errorvid {
	max-width: 535px;
	border: 12px solid #1B1B1B;
	border-radius: 8px;
}

/* Main Page */

.news:after {
	content : "";
    display: block;
    position: absolute;
    top: 10;
    left: 15;
    background-image: url('https://i.imgur.com/D8lkXuu.gif');
    background-repeat: no-repeat;
    width: 450;
    height: 500;
    opacity : 0.1;
}

/* Stundenplan */


.stundenplan {
	border-top: none;
}

.stundenplan th:nth-child(n+2), .stundenplan td:first-child {
	background-color: rgb(235, 235, 235);
}

.stundenplan th:first-child {
	border-top: 1px solid #FFF !important;
	border-right: 1px solid #FFF !important;
	border-left: 1px solid #FFF !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
}

.stundenplan th:nth-child(2) {
	border-left: 1px solid #FFF !important;
	border-top-left-radius: 4px;
}

.stundenplan th:nth-child(6) {
	border-right: 1px solid #FFF !important;
	border-top-right-radius: 4px;
}

.stundenplan .vertretung {
	background-color: #A2C5FC;
}

.stundenplan .ausfall {
	background-color: #FFA190;
}
