<div class="row">
	<div class="col-12">
		<h2>National Stundenplan Agency</h2>

		<table class="table">
			<tr>
				<td>Client</td>
				<td>v. {{version}}</td>
			</tr>
			<tr>
				<td>Server</td>
				<td class="app-server-version"><i class="icon-spinner icon-spin"></i></td>
			</tr>
		</table>
	</div>
</div>
