<div class="row">
	<div class="col-md-12">
		<h2>National Stundenplan Agency</h2>

		<table class="table">
			<tr>
				<td>Client</td>
				<td>v. {{version}}</td>
			</tr>
			<tr>
				<td>Server</td>
				<td class="app-server-version"><i class="icon-spinner icon-spin"></i></td>
			</tr>
		</table>
		
		<br>
		Ersteller:
		<ul>
			<li>Björn Korella</li>
			<li>Sven Tatter</li>
			<li>Leonard Thoma</li>
			<li>Dennis Markmann</li>
			<li>Oleg Scheltow</li>
		</ul>
	</div>
</div>
