<div class="row">
	<div class="col-md-12">
		<h1>Admin</h1>

		<form role="form" >
			<div class="form-group">
				<label for="formImage">Bild-URL</label>
				<input type="text" id="formImage" class="form-control" value="{{school.image}}" name="image">
			</div>
			<div class="form-group">
				<label for="formText">Text</label>	
				<textarea name="text" id="formText" class="form-control" rows="10">{{school.text}}</textarea>
			</div>

			<button type="button" class="btn btn-primary app-save">Speichern</button>
		</form>
	</div>
</div>
