<div class="row">
	<div class="col-md-4 col-offset-4">
		<form>
			<fieldset>
				<legend>Passwort zurücksetzen</legend>

				<div class="form-group">
					<label for="username">User</label>
					<input type="text" class="app-username form-control" id="username" placeholder="User">
				</div>

				<div class="alert alert-danger app-alert" style="display: none;"></div>

				<button type="button" class="btn btn-primary pull-right app-login">Go</button>
			</fieldset>
		</form>
	</div>
</div>
