<div class="row">
	<div class="span12">
		<img class="img-responsive" src="http://g18.de/fileadmin/_processed_/csm_31-G18_Informationstechnologie_Allgemein_38e56a26d6.jpg">

		<address style="margin: 10px;">
			<strong>
				Staatliche Gewerbeschule G18<br>
				Informations- und Elektrotechnik,<br>
				Chemie- und Automatisierungstechnik<br>
			</strong>
			 
			Dratelnstraße 26<br>
			21109 Hamburg<br>
			 
			Telefon: +49 40 428 79 - 02<br>
			Telefax: +49 40 428 79 - 450<br>
			E-Mail: g18(at)hibb.hamburg.de
		</address>
	</div>
</div>