<div class="navbar navbar-fixed-top">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand" href="#">NSA</a>

		<div class="nav-collapse collapse navbar-responsive-collapse" data-toggle="collapse"  data-target=".nav-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#timetable">Stundenpläne</a></li>
				<li><a href="#replacement">Vertretungen <span class="badge">42</span></a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown-header visible-sm">Admin-Bereich</li>
				{{#if user}}
					<li><a href="#">Neue Vertretung</a></li>
					<li><a href="#logout">Logout</a></li>
				{{else}}
					<li><a href="#login">Login</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
</div>
