<div class="row">
	<div class="col-12">
		<h3>IT2b, 8:30 - 9:15</h3>

		<table class="table">
			<tr>
				<td>
					Vertretungsleher
				</td>
				<td>
					Hermann
				</td>
			</tr>
			<tr>
				<td>
					Raum
				</td>
				<td>
					42
				</td>
			</tr>
			<tr>
				<td>
					Fach
				</td>
				<td>
					Fachenglisch
				</td>
			</tr>
			<tr class="warning">
				<td>
					Hinweis
				</td>
				<td>
					Wir wescheln in einen Raum mit Beamer
				</td>
			</tr>
		</table>
	</div>
</div>