<ul class="nav nav-tabs">
	<li class="active"><a href="#">Klassen</a></li>
	<li><a href="#">Räume</a></li>
	<li><a href="#">Lehrer</a></li>
</ul>

<input type="text" class="form-control" placeholder="filtern..." style="margin: 10px; width: calc(100% - 20px);">

<div class="list-group" style="">
	<a href="#" class="list-group-item">IT1a</a>
	<a href="#" class="list-group-item">IT1b</a>
	<a href="#" class="list-group-item">IT2a</a>
	<a href="#" class="list-group-item">IT3a</a>
	<a href="#" class="list-group-item">IT3b</a>
</div>