<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs app-tabs">
			<li class="active"><a href="javascript:void(0)" data-list="classes">Klassen</a></li>
			<li><a href="javascript:void(0)" data-list="rooms">Räume</a></li>
			<li><a href="javascript:void(0)" data-list="teachers">Lehrer</a></li>
		</ul>

		<!--
			<input type="search" class="form-control" placeholder="filtern...">
		-->
		<br>

		<div class="list-group app-select-list">
			<div class="list-group-item">
				<i class="icon-spinner icon-spin icon-2x"></i> lade...
			</div>
		</div>
	</div>
</div>
