<div class="row">
	<div class="col-12">
		<h3>IT1a</h3>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 16%;"></th>
					<th style="width: 16%;">Mo</th>
					<th style="width: 16%;">Di</th>
					<th style="width: 16%;">Mi</th>
					<th style="width: 16%;">Do</th>
					<th style="width: 16%;">Fr</th>
				</tr>
			</thead>
			<tbody>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>1</strong>
						<small>
							<br>7:45
							<br>8:30
						</small>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						AE
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>2</strong>
						<small>
							<br>8:30
							<br>9:15
						</small>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						AE
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>3</strong>
						<small>
							<br>9:30
							<br>10:15
						</small>
					</td>
					<td>
						AE
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
					<td>
						WuG
						<small>
							<br>81
							<br>Ba
						</small>
					</td>
					<td>
						OrgaGP
						<small>
							<br>82
							<br>Ga
						</small>
					</td>
					<td>
						OrgaGP
						<small>
							<br>82
							<br>Ga
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Wm
						</small>
					</td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>4</strong>
						<small>
							<br>10:15
							<br>11:00
						</small>
					</td>
					<td>
						AE
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
					<td>
						WuG
						<small>
							<br>81
							<br>Ba
						</small>
					</td>
					<td>
						OrgaGP
						<small>
							<br>82
							<br>Ga
						</small>
					</td>
					<td>
						OrgaGP
						<small>
							<br>82
							<br>Ga
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Wm
						</small>
					</td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>5</strong>
						<small>
							<br>11:30
							<br>12:15
						</small>
					</td>
					<td>
						SuK
						<small>
							<br>32
							<br>Al
						</small>
					</td>
					<td>
						AE
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
					<td>
						IT-Syst
						<small>
							<br>53
							<br>Hr
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Wm
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Wm
						</small>
					</td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>6</strong>
						<small>
							<br>12:15
							<br>13:00
						</small>
					</td>
					<td>
						SuK
						<small>
							<br>32
							<br>Al
						</small>
					</td>
					<td>
						AE
						<small>
							<br>53
							<br>Lü
						</small>
					</td>
					<td>
						IT-Syst
						<small>
							<br>53
							<br>Hr
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Wm
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Wm
						</small>
					</td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>7</strong>
						<small>
							<br>13:15
							<br>14:00
						</small>
					</td>
					<td>
						IT-Syst
						<small>
							<br>32
							<br>Hr
						</small>
					</td>
					<td></td>
					<td>
						FE
						<small>
							<br>114
							<br>Bu
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Hr
						</small>
					</td>
					<td></td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>8</strong>
						<small>
							<br>14:00
							<br>14:45
						</small>
					</td>
					<td></td>
					<td></td>
					<td>
						FE
						<small>
							<br>114
							<br>Bu
						</small>
					</td>
					<td>
						Pro
						<small>
							<br>53
							<br>Hr
						</small>
					</td>
					<td></td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>9</strong>
						<small>
							<br>15:00
							<br>15:45
						</small>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<!--- ************************************************************ -->
				<tr>
					<td>
						<strong>10</strong>
						<small>
							<br>15:45
							<br>16:30
						</small>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>