<div class="row">
	<div class="col-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Klassen</a></li>
			<li><a href="#">Räume</a></li>
			<li><a href="#">Lehrer</a></li>
		</ul>

		<input type="search" class="form-control" placeholder="filtern...">

		<div class="list-group">
			<a href="#timetable/class/42" class="list-group-item">IT1a</a>
			<a href="#timetable/class/42" class="list-group-item">IT1b</a>
			<a href="#timetable/class/42" class="list-group-item">IT2a</a>
			<a href="#timetable/class/42" class="list-group-item">IT3a</a>
			<a href="#timetable/class/42" class="list-group-item">IT3b</a>
		</div>
	</div>
</div>
