<div class="row">
	<div class="col-12">

		<table class="table table-bordered stundenplan">
			<thead>
				<tr>
					<th style="width: 1%;">ToDo</th>
					{{#each days}}
						<th style="width: 1%;">{{short}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each lessons}}
					<tr>
						<td>
							<strong>{{no}}</strong>
							<small>
								<br>{{format_start}}
								<br>{{format_end}}
							</small>
						</td>
						{{#each days}}
							<td>ToDo</td>
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>